# .env.example
# This file contains environment variables for the application.
# Create a `.env` file in the root directory and copy the contents of this file into it, then fill in the required values.

SLACK_APP_TOKEN = 
SLACK_BOT_TOKEN = 
AWS_SECRET_ACCESS_KEY = 
AWS_ACCESS_KEY_ID =
S3_BUCKET_NAME_PODCASTS=
S3_BUCKET_NAME_MINDMAPS=
